* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none;
}


body {
    font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

    margin: 0 8rem;
    background-color: #F3F3F3;
}

header,
main,
footer {
    background-color: white;
}

/* /////header\\\\\\\\ */

header {
    border-top: solid 1px lightgrey;

}

.header-section {
    display: flex;
}

.logo {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
}

header a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;

}

li {
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

ul li:nth-child(8) a {
    color: blue;
}

ul li:nth-of-type(8) {
    margin-left: 25rem;
}

ul li:last-child a {
    font-size: 0.9rem;
}

/* //////More Button\\\\\ */
/* ////More Header\\\\\\ */
.ext-menu {
    display: none;
}

.ext-menu h2 {
    padding: 0 20px;
}

.ext-first,
.ext-second {
    display: flex;
    margin: 30px 0;

}

.ext-first div,
.ext-second div {
    padding: 20px;
    line-height: 150%;
}

.ext-first div {
    font-weight: 400;
}

.ext-first div:nth-child(5) a {
    color: #ff764d;
}

.ext-second {
    width: 75vw;
}

.ext-second div p {
    font-weight: 400;
}

nav ul li:nth-child(7) {
    position: relative;
}

.ext-menu {
    width: 60vw;

    position: relative;
    right: 50%;
    top: 3rem;
}

input {
    display: none;
}

.more {
    position: relative;
}


.plus {
    position: absolute;
    left: 50px;
    top: 50%;
    height: 2px;
    width: 13px;
    background-color: black;
    transition: 0.5s;

}

.more span:nth-child(2) {
    transform: rotate(90deg);
}



#more:checked+label span:nth-child(2) {
    opacity: 0;
}

#more:checked~.ext-menu {
    display: block;
}


/* ///////Sub Header\\\\\ */

.sub-header {
    border-top: solid 1px lightgrey;
    padding: 20px;
}

.sub-header a:first-child {
    color: #ff764d
}

/* //////main\\\\\\ */


/* /////Header Image\\\\\ */

.header-img-section {
    width: 75vw;
    height: 75vh;

    margin: 0 auto;
}

#header-img {
    width: 100%;
    height: 100%;
    background-image: url("./assets/header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


#header-img h1 {
    color: #ff764d;
    font-weight: bold;
    font-size: 8rem;
}

/* //////Yellow Box\\\\\ */
.grid-1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}


.colorbox1 {
    background-color: #fbffa7;
    grid-area: 1/6/13/12;

}

#photo1 {
    background-image: url(./assets/photo-1.jpg);
    background-size: cover;
    grid-area: 3/3/11/7;
    z-index: 6;
}

#photo2 {
    background-image: url(./assets/photo-2.jpg);
    grid-area: 4/8/10/11;
    z-index: 5;
    background-size: cover;
}


/* /////First video\\\\\\ */
.video {
    text-align: center;
}



/* ////Textboxes\\\\\\ */
.textbox {
    width: 50vw;
    margin: 7rem auto;
}

.textbox p {
    line-height: 1.9rem;
    padding: 10px;

}

.textbox p:first-child {
    font-weight: bold;
    font-size: 1.4rem;

}













































































































































































































/* 3rd Photo Section ~ Eleni */

.grid-3 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.green {
    background-color: rgba(101, 161, 101, 0.89);
    grid-area: 1/1/13/9;
}

.grid-3 div {
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.img-1 {

    background-image: url(./assets/img-1.jpg);
    grid-area: 2/2/6/6;
}

.img-2 {

    background-image: url(./assets/img-2.jpg);
    grid-area: 7/2/12/6;
}

.img-3 {
    background-image: url(./assets/img-3.jpg);
    grid-area: 3/7/11/11;
}




/* FOOTER */

footer {
    padding: 3rem 8rem;
}

footer section div {
    line-height: 2rem;
}

.small-footer {
    padding-top: 5rem;
}

footer section div {
    padding-top: 4rem;
}

.main-footer h1 {
    font-size: 3rem;
}

/* applying grid to the footer */

.main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr 1fr 1fr .5fr;
    grid-template-areas:
        "h1 h1 h1"
        "section-1 section-2 section-3"
        "section-4 section-5 section-6"
        "small-footer small-footer small-footer";
}

.main-footer h1 {
    grid-area: h1;
}

.section-1 {
    grid-area: section-1;
}

.section-2 {
    grid-area: section-2;
}

.section-3 {
    grid-area: section-3;
}

.section-4 {
    grid-area: section-4;
}

.section-5 {
    grid-area: section-5;
}

.section-6 {
    grid-area: section-6;
}

/* applying flex to the small footer */
.small-footer {
    grid-area: small-footer;
    display: flex;
    align-items: center;
}

.small-footer p:nth-of-type(7) {
    margin-left: auto;
}

.small-footer p {
    padding-right: 1rem;
    font-weight: 600;
    font-size: .9rem;
}

.small-footer img {
    width: 3.5rem;
}

/* styling the social media icons */

/* .section-1 p::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
} */

.fab {
    margin-right: .5rem;
}

.fas {
    font-size: .6rem;
}

footer .section-1 :nth-child(4) {
    font-size: 2.5rem;
    color: rgb(56, 56, 247);
}

footer .section-1 :nth-child(5) {
    font-size: 2.5rem;
    color: rgb(21, 134, 240);
}

footer .section-1 :nth-child(6) {
    font-size: 2.5rem;
    color: red;
}

footer .section-1 :nth-child(7) {
    font-size: 2.5rem;
    color: orange;
}

/* Forms */

form {
    margin-top: 1rem;
    display: flex;
}

input[type=email] {
    display: inline-block;
    width: 80%;
    padding: .8rem;
    background-color: rgb(240, 239, 239);
    font-size: 1rem;
}

form button {
    width: 20%;
    background-color: rgb(79, 79, 248);
    color: white;
    padding: .8rem;
    cursor: pointer;
}

#location,
#language {
    padding: .4rem;
    background-color: rgb(240, 239, 239);
}